*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    background-color: #E3E3E3;
}

.Header--encabezado{
    width: 100%;
    min-width: 320px;
    border: none;
    height: 70px;
    margin-bottom: -10px;
    position: fixed;
}


.header--principal{
    display: flex;
    flex-direction: row;
    width: 100%;
    min-width: 320px;
    height: 30vh;
    background-color: #002333;
    color: white;
}


.container--aside{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10vh;
    margin-top: 20px;
}


.elementos-aside{
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


#gestionIconoBusqueda{
    display: none;
}

.elementos-aside img{
    width: 50%;
    border-radius: 100%;
    padding: 5px;
    border: 3px solid black;
}
.container--img-descrition{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 33%;
    height: 30vh;
    text-align: center;
    padding: 10px;
    font-style: italic;
}

.container--img-descrition span{
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    margin-bottom: 10px;
}

.img-bisuteria{
    background-image: url("https://i.ibb.co/hLXffzL/ae6dd8f4-19bc-41d7-ac8f-7e2ce0123b91-Photo-Room-removebg-preview.png");
    background-size: cover;
}

.img-electronica{
    background-image: url("https://i.ibb.co/9gSGJLC/images-removebg-preview.png");
    background-size: contain;
}

.container--info{
    width: 50%;
    margin: auto 0;
    text-align: center;
    font-size: 1.4rem;
}

/* Boton llamado a la accion */
.boton-productos{
    position:absolute;
    top: 27%;
    left: 31%;
    width: 40%;
    max-width: 320px;
    min-width: 130px;
    height: max-content;
    padding: 15px;
    color: #0A111F;
    text-decoration: none;
    text-align: center;
    border-radius: 8px;
    font-size: 1.8rem;
    font-weight: bold;
    background-color: #FF881D;
    box-shadow: 5px 8px 6px  #0A111F;
}


/* Informacion de la web */

.container--informacion-web{
    width: 100%;
    min-width: 320px;
    height: max-content;
    padding: 25px;
    padding-top: 15%;
    font-size: 1.4rem;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif ;
    background-color: #263248;
    color: white;
}

.container--informacion-web h2{
    margin-bottom: 20px;
}


/* Preguntas frecuentes */
.container--preguntas-frecuentes{
    width: 80%;
    min-width: 280px;
    height: max-content;
    margin: 30px auto;
    text-align: center;
    font-size: 1.4rem;
    padding: 20px;
    border-radius: 15px;
    background-color: #7E8AA2;
    box-shadow: 5px 8px 6px  #0A111F;
}

.container--preguntas-frecuentes section{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 30px;
    height: max-content;
    padding: 10px;
    margin-top: 05px;
    text-align: start;
}

.divisor-Elementos-preguntas-frecuentes{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.container--preguntas-frecuentes b{
    width: 90%;
}


.flecha-abajo{
    width: 10px;
    height: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("https://i.ibb.co/pzbjjZ2/32195.png");
}

.flecha-arriba{
    display: none;
    width: 15px;
    height: 15px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("https://i.ibb.co/7gBJhS1/3838683.png");
}

.container--preguntas-frecuentes article{
    display: none;
    width: 90%;
    height: max-content;
    padding: 10px;
    margin: 0 auto;
}


.container--articles{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
    min-width: 320px;
}

.articles{
    width: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #0A111F;
    background-color: #263248;
    color: white;
    font-weight: 300;
    border-radius: 10px;
    margin: 10px 25px;
    box-shadow: 2px 2px 1px  #FF881D;

}

.articles img{
    border-radius: 30px;
    width: 100%;
    height: 100px;
    object-fit: cover;
}

.articles article{
    width: 100%;
    font-size: 1.4rem;
    text-align: center;
    font-weight: 200;
}

.articles .precio{
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
}

.articles a{
    background-color: #0A111F;
    text-decoration: none;
    color:#E3E3E3;
    padding: 10px;
    border: 1px solid black;
    border-radius: 8px;
    margin: 10px 0;
}



footer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    min-width: 320px;
    height: 70px;
    background-color: rgb(0, 0, 0);
    color: white;
}

.footer--part-one{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 10px;
    justify-content: space-around;
}

.footer--part-two{
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-evenly;
    padding-top: 10px;
}

.icono{
    width: 26px;
    height: 26px;
    margin-left: 10px;
    background-color: white;
    border-radius: 9px;
}

.uno{
    display: block;
    background-image: url("https://i.ibb.co/vd8ssjp/instagram-removebg-preview.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.dos{
    display: block;
    background-image: url("https://i.ibb.co/PxF0rvc/zyro-image-removebg-preview.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.tres{
    display: block;
    background-image: url("https://i.ibb.co/cNvR9QG/facebook-removebg-preview.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

