*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

header{
    background-color: rgb(0, 0, 0);
    width: 100%;
    min-width: 320px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.container--navegation-bar{
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
}

.container--navegation-bar button{
    font-size: 3rem;
    background-color: transparent;
    border: none;
    color: white;
}

.container--navegation-bar ul{
    display: none;
    width: 25vh;
    height: 100vh;
}


.container--navegation-bar li{
    background-color: black;
    border: 1px solid white;
    padding: 10px;
    text-align: center;
    list-style: none;
}

.container--navegation-bar a{
    color: white;
    text-decoration: none;
}

.botonCerrarbarra{
    color: rgba(255, 255, 255, 0.547);
    width: 100%;
    margin-top: 60px;
}


.container--datos-header-img{
    display: flex;
    flex-direction: row;
    width: 100%;
    min-width: 320px;
    height: 30vh;
    background-color: rgb(0, 0, 0);
    color: white;
}

.container--img-descrition{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 30vh;
    border-right: 1px solid black;
    text-align: center;
    padding: 10px;
    font-style: italic;
}

.container--img-descrition span{
    background-image: url("https://i.ibb.co/hLXffzL/ae6dd8f4-19bc-41d7-ac8f-7e2ce0123b91-Photo-Room-removebg-preview.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 100px;
    margin-bottom: 10px;
}

.container--info{
    width: 50%;
    margin: auto 0;
    text-align: center;
    font-size: 1.4rem;
}

/* Preguntas frecuentes */
.container--preguntas-frecuentes{
    width: 80%;
    min-width: 280px;
    height: max-content;
    margin: 30px auto;
    text-align: center;
}

.container--preguntas-frecuentes section{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 30px;
    height: max-content;
    padding: 10px;
    margin-top: 05px;
    text-align: start;
}

.divisor-Elementos-preguntas-frecuentes{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.container--preguntas-frecuentes b{
    width: 90%;
}


.flecha-abajo{
    width: 10px;
    height: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("https://i.ibb.co/pzbjjZ2/32195.png");
}

.flecha-arriba{
    display: none;
    width: 15px;
    height: 15px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("https://i.ibb.co/7gBJhS1/3838683.png");
}

.container--preguntas-frecuentes article{
    display: none;
    width: 90%;
    height: max-content;
    padding: 10px;
    margin: 0 auto;
}


.container--aside{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10vh;
}


.elementos-aside{
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


#gestionIconoBusqueda{
    display: none;
}

.elementos-aside img{
    width: 50%;
    border-radius: 100%;
    padding: 5px;
    border: 3px solid black;
}

.container--articles{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
    min-width: 320px;
}

.articles{
    width: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    border-radius: 10px;
    margin: 10px 25px;
}

.articles img{
    width: 100%;
}

.articles article{
    width: 100%;
    text-align: center;
}

.articles a{
    background-color: aqua;
    text-decoration: none;
    color: black;
    padding: 10px;
    border: 1px solid black;
    border-radius: 8px;
    margin: 10px 0;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    min-width: 320px;
    height: 70px;
    background-color: rgb(0, 0, 0);
    color: white;
}

.footer--part-one{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 10px;
    justify-content: space-around;
}

.footer--part-two{
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-evenly;
    padding-top: 10px;
}

.icono{
    width: 26px;
    height: 26px;
    margin-left: 10px;
    background-color: white;
    border-radius: 9px;
}

.uno{
    display: block;
    background-image: url("https://i.ibb.co/vd8ssjp/instagram-removebg-preview.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.dos{
    display: block;
    background-image: url("https://i.ibb.co/PxF0rvc/zyro-image-removebg-preview.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.tres{
    display: block;
    background-image: url("https://i.ibb.co/cNvR9QG/facebook-removebg-preview.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

