*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    background-color: black;
    color: azure;    
}

.slider{
    aspect-ratio: 4/3;
    width: 100%;
    position: relative;
    display: flex;
    overflow: scroll;
    scroll-snap-type: x mandatory;  /* Para que quede en un punto obligatorio */
}

.slider img{
    width: 100%;
    min-width: 320px;
    left: 0;
    position: sticky;
    object-fit: cover;
    border-radius: 5px;
    scroll-snap-align: center;
}